<h1>This is the index</h1>
<%= link_to "NEW POST", new_post_path %>

<% @post.each do |post| %>
	<div>
		<h2>
			<%= link_to post.title, post %>
		</h2>

		<p><%= post.created_at.strftime("%B, %d, %Y") %></p>
	</div>
<% end %>
